body{
  background-image: url('back.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}
hr{
  color: white;
  
}
h1{
  color: white;
  font-weight:12;
  text-align:center;
}
p{
  font-family: 'Courier New', monospace ;
  text-align: center;
  color: white;
}
h6{
  border-style: ridge;
  border-radius: 15px;
  border-width: 2px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
a:hover {
  background-color: ;
}